@import "mixins.less";
@import "variables.less";
@import "common.less";

@import "management.less";

html,
body {
  height: 100%;
}

body {
  background: @background-default;
  color: @color-default;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.container-narrow {
  max-width: 600px;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 70px;
  & > .container {
    padding: 70px 15px 20px;
  }
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
