@import "mixins.less";
@import "variables.less";
@import "common.less";

body {
  background: @background-default;
  color: @color-default;
  padding-top: 60px;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}
